.home {
    background: color($colors, light);
}

.toolbar-title{
    text-align: center;
}

.tabs-md .tab-button-icon {
    color: #ccc;
}

.info{
    text-align: center;
    font-size: 35px;
    color: #000;
    display: inline-block;
    width: 100%;
}

img {
    display: block;
    margin: 0 auto;
}